Pasos para crear una base de datos...

* Abrir-Crear conexion
* Crear puntero
* Ejecutar query(consulta) SQL
* Manejar los resultados de la query(consulta)
* Cerrar puntero
* Cerrar conexion

In [33]:
import sqlite3
#Abriendo o crenado conexion
miConexion=sqlite3.connect("PrimeraBase")

#Puntero de la base...
miCursor=miConexion.cursor()

#entre los parametros de la funcion 'execute'
#ponemos las instrucciones SQL
#INSTRUCCIONES:
# CREATE TABLE nombreTabla (campos)
#    (NOMBRE_ARTICULO_1 TIPODATO_1, NOMBREARTICULO_2 TIPODATO_2 NOMBREARTICULO_2, ...)
#    


#VARCHAR(longitud) ==>String con longitud fija..
#INTEGER ==>dato de tipo entero

#creando tabla...
#Solo se debe ejecutar una vez la siguiente linea de codigo, pues si la volvemos 
#a ejecutar el programa detectara que la tabla ya existe:

miCursor.execute("CREATE TABLE PRODUCTOS (NOMBRE_ARTICULO VARCHAR(50),"
                 "PRECIO INTEGER, SECCION VARCHAR(20))")


# ¿Como insertar datos?
miCursor.execute("INSERT INTO PRODUCTOS VALUES('Roni Hdz',15,'Apasionado genio')")


#Cada vez que hacemos un cambio en el contenido debemos verificar
#que queremos hacer ese cambio...

#Confirmamos los cambios...

miConexion.commit()
miConexion.close()

# Insertandos varios registros a la vez...

In [39]:
#Abriendo o crenado conexion
miConexion=sqlite3.connect("PrimeraBase")

#Puntero de la base...
miCursor=miConexion.cursor()


#Lista de tuplas, donde cada tupla
#representa los datos de cada renglon...
variosProductos=[
    ("Julian",10,"Sopreidad"),
    ("Fransisco",9,"Muyctivo"),
    ("Pedro",8,"Mirada pda")
]

#Dentro de la funcion va la instruccion SQLITE
miCursor.executemany("INSERT INTO PRODUCTOS VALUES(?,?,?)",variosProductos)

#Confirmamos los cambios...
miConexion.commit()


miConexion.close()

# Recuperacion de varios registros

In [41]:
#Abriendo o crenado conexion
miConexion=sqlite3.connect("PrimeraBase")

#Puntero de la base...
miCursor=miConexion.cursor()
#SELECT * ==>NOS DEVUELVE TODOS LOS PRODUCTOS...
miCursor.execute("SELECT * FROM PRODUCTOS")
variosProductos=miCursor.fetchall()#devuelve una lista con
                                   #todos los registros que devuelve
                                   #la instruccion sql
print(variosProductos)
#Confirmamos los cambios...
miConexion.commit()

miConexion.close()

[('Roni Hdz', 15, 'Apasionado genio'), ('Julian', 10, 'Sopreidad'), ('Julian', 10, 'Sopreidad'), ('Fransisco', 9, 'Muyctivo'), ('Pedro', 8, 'Mirada pda')]

# Como gestionar las claves principales de una base de datos

In [53]:
miConexion=sqlite3.connect("Roni")
miCursor=miConexion.cursor()

"""
    #PRIMARY KEY==>ATRIBUTO QUE SERA LA LLAVE
    miCursor.execute('''
        CREATE TABLE PRODUCTOS(
        CODIGO_ARTICULO VARCHAR(4) PRIMARY KEY,
        NOMBRE_ARTICULO VARCHAR(50),
        PRECIO INTEGER,
        SECCION VARCHAR(20))
    '''
    )
"""

productos=[
    ("400","Roni",20,"Apasionado"),
    ("500","Fransico",22,"Emprendedor"),
    ("600","Julian",23,"Curioso")
]

#Dentro de la funcion va la instruccion SQLITE
miCursor.executemany("INSERT INTO PRODUCTOS VALUES(?,?,?,?)",productos)

#Confirmamos los cambios...
miConexion.commit()
miConexion.close()

#¿QUE PASO SI INGRESO UN DATO CON UNA CLAVE QUE YA EXISTE?
#Marcara error porque esa clave ya existe..

IntegrityError: UNIQUE constraint failed: PRODUCTOS.CODIGO_ARTICULO

#  Automatizando las claves...

In [55]:
miConexion=sqlite3.connect("Julian")
miCursor=miConexion.cursor()

"""
    #CUANDO QUEREMOS QUE LAS CLAVES SEA AUTOMATICAS
    #POR CONVENCION SE LES SUELE ASIGNAR EL NOMBRE DE ID..
    #PRIMARY KEY==>ATRIBUTO QUE SERA LA LLAVE
    #AUTOINCREMENT ==>Los id se iran enumerando
    miCursor.execute('''
        CREATE TABLE PRODUCTOS(
        ID INTEGER PRIMARY KEY AUTOINCREMENT,
        NOMBRE_ARTICULO VARCHAR(50),
        PRECIO INTEGER,
        SECCION VARCHAR(20))
    '''
    )
"""


#ya no necesitamos la seccion de CLAVE, por eso
#cada tupla solo tiene un elemento...
productos=[
    ("Roni",20,"Apasionado"),
    ("Fransico",22,"Emprendedor"),
    ("Julian",23,"Curioso")
]

#como podemos ver en la seccion de clave, pusimos un NULL ya que de esa 
#manera le indicamos a python que no ponemos dato ahi,porque es el que 
#el generara como ID
#Dentro de la funcion va la instruccion SQLITE
miCursor.executemany("INSERT INTO PRODUCTOS VALUES(NULL,?,?,?)",productos)

#Confirmamos los cambios...
miConexion.commit()
miConexion.close()

#¿QUE PASO SI INGRESO UN DATO CON UNA CLAVE QUE YA EXISTE?
#Marcara error porque esa clave ya existe..

# UNIQUE
Basicamente sirve para que la informacion de algun atributo no se repeti, hacerlos unicos e irrepetibles.
Puede poner tantos quiera:
~~~
    miCursor.execute('''
        CREATE TABLE PRODUCTOS(
        ID INTEGER PRIMARY KEY AUTOINCREMENT,
        NOMBRE_ARTICULO VARCHAR(50) UNIQUE,
        PRECIO INTEGER UNIQUE,
        SECCION VARCHAR(20))
    '''
    )
~~~
En el ejemplo anterior, pusimos  a Nombre del articulo como precio, unicos e irrepetibles, es decir si despues queremos agregar un datos con datos que ya tenemos de ese producto, no lo permitira la base de datos

# Como jalar datos particulares...

In [42]:
#Abriendo o crenado conexion
miConexion=sqlite3.connect("PrimeraBase")

#Puntero de la base...
miCursor=miConexion.cursor()
#SELECT * ==>NOS DEVUELVE TODOS LOS PRODUCTOS...
miCursor.execute("SELECT * FROM PRODUCTOS WHERE NOMBRE_ARTICULO='Julian'")


variosProductos=miCursor.fetchall()#devuelve una lista con
                                   #todos los registros que devuelve
                                   #la instruccion sql
print(variosProductos)
#Confirmamos los cambios...
miConexion.commit()

miConexion.close()

[('Julian', 10, 'Sopreidad'), ('Julian', 10, 'Sopreidad')]

# Actualizacion de registros 'UPDATE'

In [48]:
#Abriendo o crenado conexion
miConexion=sqlite3.connect("PrimeraBase")

#Puntero de la base...
miCursor=miConexion.cursor()
#SELECT * ==>NOS DEVUELVE TODOS LOS PRODUCTOS...
miCursor.execute("UPDATE PRODUCTOS SET PRECIO=100 WHERE NOMBRE_ARTICULO='Julian'")

#Confirmamos los cambios...
miConexion.commit()

miConexion.close()

# Borrar datos...

Podemos borrar por el nombre del articulo,tambien podemos borrar por el nombre del ID, por el precio o cualquier articulo

In [47]:
#Abriendo o crenado conexion
miConexion=sqlite3.connect("PrimeraBase")

#Puntero de la base...
miCursor=miConexion.cursor()
#SELECT * ==>NOS DEVUELVE TODOS LOS PRODUCTOS...
miCursor.execute("DELETE FROM PRODUCTOS WHERE NOMBRE_ARTICULO='Julian'")
#Confirmamos los cambios...
miConexion.commit()

miConexion.close()